<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>html</title>
    <style>
        div
        {
            background-color:skyblue;
            padding: 10px;
        }
    </style>
</head>
<body>
    <div>
        <form action="">
            <fieldset>
                <label for="">Username</label>
                <input type="text">
                <label for="">Password</label>
                <input type="password">
                <input type="submit">
                <input type="reset">
            </fieldset>
        </form>
    </div>
</body>
</html>